/* body {
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --black: #000;
}
* {
    box-sizing: border-box;
}



.container {
    max-width: 960px;
    max-height: 900px;
    margin: 20px auto;
    background-color: aqua;
    position: relative;
}

.box {
    width: 300px;
    height: 100px;
    border: 1px solid red;
    padding: 15px;
}

.box1 {
    width: 300px;
    height: 100px;
    margin: 10px 0px;
    padding: 15px;
    color: white;
    background-color: var(--black);
}

a:hover {
    background-color: red;
    color: white;
}




table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    font-family: "Montserrat", sans-serif;
}

table, th, td {
    border-width: 1px;
    border-style: solid;
    
}

th {
    height: 50px;
    background-color: rgb(235, 4, 4);
    color: white;
}

td {
    height: 30px;
    text-align: center;
    padding: 5px;
}

/* tr:hover {
    background-color: red;
} */

.texts:hover {
    background-color: rgb(245, 96, 96);
    color: white;
}

