body {
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mybox {
    background-image: url(img.jpg);
    width: 1000px;
    height: 500px;
    background-size: cover;
}